body{
	background: url(fundo.png) repeat-x;
	font:12px "Lucida Grande","Lucida Sans Unicode", Arial, sans-serif;
}
#container{
	width: 1250px;
	margin: 0 auto;
}

a:link,a:visited,a:active{
	color:#daa520;
	text-decoration: none;
	transition: color 1s;
}
a:hover{
	color: #E67B17;
	transition: color 1s;
}
#logo h1{
	float: left;
}
#logo a{
	width:248px;
	height: 21px;
	display: block;
	background: url(logo.png) no-repeat; 
}
header{
	padding: 15px 0;
	height: 55px;
}
nav ul{
	list-style:none;
	margin: 20px;
	float: right;
}
nav ul li{
	float: left;
}
nav ul li a:link{
	display:block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;

}
nav ul li a:hover{
	border-bottom: 1px solid #E67B17;
}

#conteudo{
	width: 710px;
	float:left;
	margin-bottom: 15px;
	padding-bottom: 10px;

}

aside{
	width: 450px;
	float: right;
	background-color:rgba(230,213,23,40%);
	margin-bottom: 15px;

}
section#patrocinio{
	background-color:rgba(218,165,32,50%);
	padding:10px 27px 27px 27px;
	margin-top: 10px; 
}



h3{
	color: #000000;
	font-size:1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}


h4{
	color: black;
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}
input{
	height: 20px;
	width: 80px;
	background: #fff;
	border: none;
	font-size: 1em;
}
input.campo{

}

input.botao{
	background: black;
	color: white;
	width: 100%;
	height:40px;
	font-size: 1.2em
}
fieldset{
	border:none;
}
legend{
	display: none;
}
section#galeria{
	padding: 0 27px 0 27px;

}
section#galeria a{
	display: block;
	background: url(fundo-foto.png) no-repeat;
	float: left;
	padding:17px 15px 17px 15px;
	margin: 10px 0 0 auto;
}
section#galeria img {
	margin-left: 2px;
	margin-top: 2px;
}

article#video{
	float: left;
	width: 310px;
	margin-left: 25px;
}
article#local{
	float: left;
	width: 310px;
	margin-left: 37px;
}
#conteudo{
	background-color:rgba(230,213,23,40%);
}
footer{
	background-color: #000000;
	clear: both;
	padding: 5px 0 5px 0;
	text-align: center;
}
#pe{
	color: #E67B17;
	font-size: 15px;
}
